.cases{
    text-align: center;
    display: inline-block;
    width:80px;
    height:auto;
    background-color: #CC35B5;
    color:white;
    font-size: 50px;
    border-style: solid ;
    border-color: black; 
}

.gamearea{
    background-color: rgb(121, 201, 42);
    /* display: block; */
    /* width: 200px;
    height: 200px; */
    text-align: center;
}